.calcpage h1 {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 117.647% */
  letter-spacing: -0.68px;
  margin-bottom: 15px;
}
.page_calc {
  padding-top: 64px;
}

.calcpage .nbki_v4.wrapperwhite {
  padding: 32px;
  margin: 0;
}

.calcform__input {
  position: relative;
  padding-top: 9px;
  margin-top: 9px;
}
.calcform__input .placeholder {
  /* p4_regular */
  font-family: Formular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  color: #7b7794;
  position: absolute;
  left: 15px;
  display: block;
  white-space: nowrap;
  transition: all, 0.2s;

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calcform__input .placeholder {
  padding: 0 5px;
  top: -10px;
  background-color: #fff;
  opacity: 1;
  transform: translateY(0);
}

.calcform__input input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--Gray-Border, #aeb5d1);
  background: #fff;
  display: block;
  width: 100%;
  height: unset;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.calcform__input label {
  display: block;
  width: 100%;
  position: relative;
}

.calcform__input {
  width: 250px;
}

.calcform__block {
}
.calcform__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.calcform__col {
}
.calcform__item {
}
.calcform__input {
}
.form__label {
}
.p-inputtext {
}
.p-component {
}
.form__input {
}
.placeholder {
}
.calcform__slider {
}

.noUi-horizontal .noUi-handle {
  margin-left: -8px;
  margin-right: -8px;
  width: 20px;
  height: 20px;
  top: -9px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #4563ff;
}

.noUi-target {
  background: rgba(10, 0, 51, 0.1);
  height: 1px;
  border-radius: 0;
  border: none;
  border-radius: 10px;
}
.noUi-connects {
  overflow: visible;
}
.noUi-connect {
  background: #4563ff;
  height: 3px;
  position: relative;
}
.noUi-connect:after {
  content: "";
  height: 3px;
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: -1px;
  border-radius: 10px;
  overflow: hidden;
  background: #4563ff;
}
.range-slider__ui {
  margin: 20px 0;
}

.calcform__limit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calclimit {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #7b7794;
}

.calcform__block .form-control {
  height: unset;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.calcform__block {
  padding-bottom: 26px;
  /*   margin-bottom: 26px; */
  border-bottom: 1px solid rgba(10, 0, 51, 0.1);
}
/* html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: 7px;
} */
.datepicker-panel > ul {
  /*   margin-left: -5px;
  margin-right: -5px; */
}
.datepicker-panel > ul > li {
  width: 22px;
  margin: 0 5px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 9px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.datepicker-panel > ul {
  width: 100%;
}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #4563ff;
  background: #eceef6;
}
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="month prev"] {
  color: #4563ff;
  font-size: 20px;
  font-weight: 500;
  height: unset;
  display: flex;
  justify-content: center;
  width: unset;
}
.datepicker-panel > ul > li[data-view="month current"] {
  color: #000;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}
.datepicker-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.datepicker-panel > ul > li[data-view="month current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="years current"] {
  width: 100px;
  padding: 0 8px;
}
.datepicker-top-left:after,
.datepicker-top-right:after,
.datepicker-top-left:before,
.datepicker-top-right:before {
  display: none;
}
.datepicker-top-left,
.datepicker-top-right {
  border: none;
}
.datepicker-container {
  width: 250px;
  padding: 10px;
  max-width: 250px;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #aeb5d1;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
  transform: translateY(-11px);
}
input[data-toggle="datepicker"]:active,
input[data-toggle="datepicker"]:focus {
  border-radius: 10px 10px 0 0;
}
.datepicker-panel > ul[data-view="week"] > li:nth-child(6) {
  color: #4563ff !important;
}
.datepicker-panel > ul[data-view="week"] > li:nth-child(7) {
  color: #4563ff !important;
}
.datepicker-panel > ul > li:nth-child(7n),
.datepicker-panel > ul > li:nth-child(7n - 1) {
  color: #4563ff !important;
}

.calcform__select {
  width: 100%;
  position: relative;
}

.calcform__select select {
  display: none;
}

.calcform__select .calcform__select-selected {
}

.calcform__select .calcform__select-item {
  cursor: pointer;
  padding: 12px 14px;
}

.calcform__select .calcform__select-item:hover {
}

.calcform__select .calcform__select-all {
  position: absolute;
  top: 100%;
  transform: translateY(-10px);
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  border: 1px solid #aeb5d1;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.calcform__select .all-items-hide {
  display: none;
}

.expand_more {
  background-image: url(/images/expand_more.svg);
  background-position: center right 14px;
  background-repeat: no-repeat;
}
.calcform__select .calcform__select-selected {
  background-image: url(/images/expand_more.svg);
  background-position: center right 14px;
  background-repeat: no-repeat;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--Gray-Border, #aeb5d1);
  background: #fff;
  display: block;
  width: 100%;
  height: unset;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  font-family: Formular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  cursor: pointer;
}
.calcform__item_select .calcform__input {
  position: relative;
}
.calcform__item_select .placeholder {
  top: 0;
}

.calcform__item {
  margin-bottom: 15px;
}
.calcform__select .calcform__select-all {
}
.calcform__select-item.active {
  display: none;
}

.calcform__select-selected.arrowanim {
  color: #aeb5d1;
}
.calcform__button {
  margin-right: 10px;
}

.btn_blborder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.01em;

  border: 1px solid #4563ff;
  min-width: 131px;
  color: #4563ff;
}
.btn_blborder:hover {
  background: #4563ff;
  color: #fff;
}

.calcform__button a,
button {
}

.btn_calc {
  height: auto;
  padding: 15px 40px;
  border-radius: 10px;
  width: initial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 250px;
}

.calcform__buttons {
  margin: 35px 0 19px 0;
}
.calcform__item .check-block_big {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.calcform__item .check-block label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  padding-left: 30px;
}

.calcform__item .check-block:hover label:before,
.calcform__item .check-block label:before {
  border-radius: 50%;
  border-color: #aeb5d1;
}

.calcform__aside {
  max-width: 394px;
  width: 100%;
}
.calcform__total {
  padding: 38px 10px 21px 49px;
}
.calctotal {
}
.calctotal__item {
  margin-bottom: 9px;
}
.calctotal__title {
  color: #7b7794;
  /* Лидер моб 14 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.calctotal__value {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 112.5% */
  color: #000;
}
.calctotal__item_table {
}
.calctable {
}
.calctable__color {
  border-radius: 120px;
  background: #4563ff;
  width: 16px;
  height: 16px;
  display: block;
}
.calctable__color-blue {
  background: #4563ff;
}
.calctable__color-red {
  background: #f40808;
}
.calctable__title {
}
.calctable__value {
}
.calctable table {
  width: 100%;
}
.calctable table tbody tr td > span {
  padding: 0;
}
.calctable table tbody tr {
  border: none;
}
.calctable {
  margin-top: 16px;
}
.calctable td {
  padding: 8px;
}
.calcform__content.flex {
  justify-content: space-between;
}

.calcform__aside {
  border-left: 1px solid rgba(10, 0, 51, 0.1);
}

.calcform__block_border {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.calcform__main {
  padding: 10px 0;
}
.calctable table tbody tr td:first-child {
  padding-left: 0;
}
.calctable__title {
  color: #7b7794;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calctable__value {
  color: #000;
  font-family: Formular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calcform__buttons_type2 {
  margin: 20px 0;
}

.calcform__newrow {
}
.calcnewrow {
  display: flex;
  align-items: center;
  margin: 0 -4px;
}
.calcnewrow__col {
  padding: 0 4px;
}
.calcform__item {
}
.calcform__item_select {
}
.calcform__input {
}
.calcform__select {
}

a.calcform_remove {
  min-width: 24px;
  display: block;
}

.modal_calc .modal__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 126.667% */
  letter-spacing: -0.3px;
  margin-bottom: 15px;
}
.modal_calc .modal-content {
  padding: 32px;
}

.modal_calc .calcform__input {
  width: 100%;
}

.modal__header {
  position: relative;
}

.modal_calc  .modal__header .modalclose {
opacity: 1;
}
.modal_calc .modalclose {
right: 0;
top: 0;
}
.modal_calc .modal-dialog {
  width: 400px;
}

.btn_main_small {
  padding: 16px;
  text-align: center;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  margin: 0;
  width: 100%;
}

.modal_calc .calcform__item .check-block label {
  color: #7B7794;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /
}

.modal_calc .calcform__buttons{
  margin: 16px 0;
}
.modal_calc .calcform__item_check{
 margin-bottom: 32px;
}

.mb-0 {
  margin-bottom: 0;
}

.w-full {
  width: 100%;
}
.calcform__block_newblock {
  padding-bottom: 16px;margin-bottom: 16px;
}
.calcform__block_newblock:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.calcpage .nbki_v4.wrapperwhite {
  border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.10);
}
.calcform__block_nob {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.calcform__block_nob > .calcform__item {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.calcform__block_nob > .calcform__item > .calcform__buttons {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.calccontent__banner {
  margin: 64px 0;
}

@media (max-width: 767px) {
  .modal_calc .modal-content {
    padding: 32px 16px;
  }
  .modal_calc .modal__title {
    padding-right: 30px;
    font-size: 24px;
    line-height: 1.2;
  }
}