.navpages_v4  ul.navpages__list li {
  margin-right:70px;
  padding: 0;
}
.navpages_v4  ul.navpages__list li:last-child {
  margin-right: 0;
}
.navpages_v4  .navpages__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navpages_v4  ul.navpages__list li a {
  position: relative;
  display: block;
  padding-bottom: 20px;
  font-weight: 400;
font-size: 14px;
line-height: 17px;
}
.navpages_v4  ul.navpages__list li.hover  a{
  color: #7B7794;
}
.navpages_v4  ul.navpages__list li.active:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #4563FF;
}
.navpages_v4 ul.navpages__list li:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #4563FF;
}
.itemcardlist__item_col1 {
  width: 100%;
}

.navpages.navpages_v4 {
  margin-bottom: 40px;
}
.itemcardlist__item {
  margin-bottom: 40px;
}
.itemcardlist__item_col3 .itemcard__title {
  margin-bottom: 0;
}

.itemcard {
  background: #FFFFFF;
border-radius: 5px;
height: 100%;
padding: 20px 30px 39px 30px;
}
.itemcard_wide {
  width: 100%;
  padding: 50px;

}
.itemcard_wide .itemcard__wrapper {
  display: flex;
  align-items: center;
}
.itemcard__image {
  margin-right: 30px;
}
.itemcard__img {
  min-width: 74px;
}
.itemcard__content {
}
.itemcard__text {
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

/* Черный */

color: #000000;

}


.itemcardlist {
  margin-bottom: 20px;
}
.itemcardlist__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.itemcardlist__item {
  padding: 0 20px;
}
.itemcardlist__item_col3 {
  width: 33.33333%;
}
.itemcardlist__item .itemcard__image {
  margin-bottom: 20px;
}
.itemcard__title a {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  
  color: #000000;
}


.titlelink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.titlelink  a {
  color: #4563FF;
}
.titlelink  h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  
  color: #000000;
}
.itemcardlist__item_col2 {
  width: 50%;
}
.itemcardlist__item_col2 .itemcard {
  padding-top: 32px;
}
.itemcardlist__item_col2 .itemcard__image {
 margin-bottom: 30px;
}
.itemcardlist__item_col2 .itemcard__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  
  
  /* Черный */
  
  color: #000000;
}
.white_block {
  background-color: #fff;
}

.itemcard__name {
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
margin-bottom: 40px;

color: #000000;

}
.corppage_v4 .listblock__green li {
  min-height: 24px;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
margin-bottom: 26px;
padding-left: 36px;
/* Черный */

color: #000000;
}

.corppage_v4 .listblock__green li:last-child {
  margin-bottom: 0;
}

.contactsrow {
  display: flex;
}
.contactsrow .oneblock  {
  margin: 0;
}
.contactsrow__main {
  width: calc(100% - 353px);
  padding-right: 34px;
}

.contactsrow__aside {
  width: 353px;
}
.itemcardlist__item_col1 .itemcard__image {
  margin-bottom: 0;
}
.contactsrow {
 margin: 0 0 60px 0;
}
.contactrow__items {
  height: 100%;
}
.contactrow__item {
  margin-bottom: 40px;
  height: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactrow__item:last-child {
  margin-bottom: 0;
}
.contactblock {
  padding: 40px 30px;
  height: 100%;
  margin: 0;
}
.contactblock__icon {
  margin-bottom: 35px;
}
.contactblock__title {
  font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;

color: #000000;
margin-bottom: 54px;
}
.contactblock__phone {
  margin-bottom: 26px;
}
.contactblock__phonetitle {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* #7B7794 */

color: #7B7794;
margin-bottom: 14px;
}
.contactblock__phonevalue a {
  font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
/* identical to box height */


/* Черный */

color: #000000;
}
.contactblock__text {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Черный */

color: #000000;
}
.contactblock__link {
}


.contactsrow .contactsform__title {
  margin-bottom: 35px;
}

.contactsrow .buttoncaption {
  margin-top: 50px;
  margin-bottom: 0;
}
.contactsrow .oneblock {
  padding: 50px;
}

.contactblock__link .btn_border {
  display: block;
  width: 100%;
}
.corppage_v4 .btn_border {
  border: 2px solid #4563FF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  padding: 13px 0;

  text-align: center;

  /* Черный */

  color: #000000;
}
.contactblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactblock__wrapper {

}

.footer_corpv4 .mainfooter {
  flex-wrap: wrap;
}

.footer_corpv4 .footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.footer_corpv4 .mainfooter__title a {
  font-size: 18px;
line-height: 22px;color: #FFFFFF;
}
.footer_corpv4 .mainfooter__title {
  font-size: 18px;
line-height: 22px;color: #FFFFFF;
}
.footer_corpv4 .mainfooter__links li {
  margin-bottom: 10px;
}
.mainfooter__cols {
  display: flex;
  margin: 0 -60px;
  flex-wrap: wrap;
}
.mainfooter__col {
  margin-bottom: 58px;
  width: 33.333%;
  padding: 0 60px;
}

.mainfooter__cols .phone {
  padding: 0;
}
.mainfooter__cols .mainfooter__nav{
  padding: 0;
}

.mainfooter__cols .phones {
  display: flex;
}
.mainfooter__cols .phone {
  margin-right: 20px;
}
.mainfooter__cols .phone:last-child {
  margin-right: 0;
}

.footer_corpv4 .footer__main {
  padding: 72px 0  20px 0;
}
.footer_corpv4 .footerbottom__text {
  display: block;
  margin-right: 0;
  margin-bottom: 2px;
}

.mainfooter__links li a:hover {
  color: #fff;
}

.socials__item a:hover path {
  fill-opacity: 1;
}

.changelang__button {
  position: relative;
  padding-right: 12px;
  display: inline-block;
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
cursor: pointer;

color: #FFFFFF;
}
.changelang {
  position: relative;
  margin-right: 20px;
}
.changelang__button::after {
  content: url(../images/changelang.svg);
  position: absolute;
  right: 0;
  top: -1px;
} 


.changelang__more {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #0A0033;
  z-index: 3;
  left: 0;
}
.changelang__item {
  margin-top: 3px;
}
.changelang__item a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.footerbottom__socials {
  display: flex;
  align-items: center;
}

.itemcard__maintitle {
  display: none;
}

.headermenu .btn_main {
  font-size: 14px;
line-height: 17px;
padding: 0 17px;
height: 34px;
line-height: 34px;
}
.footer_corpv4 .mainfooter__right {
  padding: 0;
}
.itemcard__text p {
  margin: 0 0 5px 0;
}

.itemcard__title {
  font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 134.3%;
margin-bottom: 49px;
}

.itemcardlist__items {
  margin-bottom: 20px;
}
.titlelink__links  {
  display: flex;
}
.titlelink__links a {
  display: block;
  margin-left: 30px;
}

.notification__text_small {
  font-size: 20px;
line-height: 24px;
}
.nbkiv4 .notification__warn {
  min-width: 30px;
}
.titlelink h2 {
  margin: 0;
}
.notification.nbkiv4 {
  margin: 40px 0;
}

.pagetextblock {
  margin: 40px 0;
}
.pagetextblock .pagetext {
  padding-right: 0;
}
.pagetextblock p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  
  /* Черный */
  
  color: #000000;
}

.listblock__green_light li {
  color: #7B7794;
}
.corppage_v4 .listblock__green_light li {
  color: #7B7794;
}
.itemcardlist__items_type2 .itemcard__name {
  font-weight: 400;
}

.tabs .pagetabs__caption_js li {
  font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-right: 50px;
}
ul.navpages__list li.active:after {
  border-radius: 0;
}
.imgtab {
  margin-top: 60px;
}
.imgtab__wrapper {
  display: flex;
}
.imgtab__image {
}
.imgtab__img {
  width: 415px;
  height: 263px;
border-radius: 5px;
background: #AEB5D1;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
.imgtab__content {
  padding-left: 40px;
  width: calc(100% - 415px);
}
.imgtab__title {
  font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
margin-bottom: 26px;
}
.imgtab__text p {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

/* Черный */

color: #000000;
}
.itemcard_large {
  padding: 50px 48px;
}
.itemcard_large .itemcard__name {
  font-weight: 400;
}

.itemcard__img {
  width: max-content;
}
.itemcard_large .itemcard__image {
  margin-right: 40px;
}

.itemcard__title_small {
  font-size: 20px;
line-height: 24px;
margin-bottom: 40px;
}
.navtabs {
}
.navtabs_v4 {
  padding: 9px;
  background: #FFFFFF;
border-radius: 5px;
margin-bottom: 40px;

}
.navtabs__list {
  display: flex;
align-items: center;
justify-content: center;
}
.navtabs__list a {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
padding: 10px;
color: #000000;
background: #fff;
display: block;
border-radius: 5px;

}
.navtabs__list li {
  margin-right: 35px;
}
.navtabs__list li:last-child {
  margin-right: 0;
}
.navtabs__list li.active a {
  background: #4563FF;
  color: #fff;
}
.navtabs__list li:hover a {
  background: #4563FF;
  color: #fff;
}
.itemcardlist__item_icon .itemcard__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.itemcard__image_flex {
  display: flex;
  align-items: center;
}
.itemcard__image_flex .itemcard_type2 .itemcard__name {
  margin-bottom: 40px;
}
.itemcard__image_flex  .itemcard__name {
  margin-left: 15px;
  margin-bottom: 0;
}
.itemcard_type2 {
  padding: 32px 32px 43px 32px;
}
.itemcard_type2  .itemcard__image {
  margin-bottom: 30px;
}
.itemcard_type2  .itemcard__img {
  min-width: initial;
}

.itemcard__listrow {
  display: flex;
  margin: 0 -16px;
}
.itemcard__listcol {
  padding: 0 16px;
  width: 50%;
}
.itemcard__listcol .listblock__green li {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  
  /* Черный */
  
  color: #000000;
  margin-bottom: 18px;
}
.itemcardlist__item.itemcardlist__item_large.itemcardlist__item_col1 {
  margin-bottom: 20px;
}
.itemcardlist__item_large .itemcard {
  padding: 50px 53px 50px 48px;
}
.itemcardlist__item_large .itemcard__name {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

.itemcard__border {
  border: 1px solid #AEB5D1;
  background: transparent;
}

.notification__w72 {
  width: 72px;
}
.nbkiv4.notification_inform {
  padding-right: 22px;
  margin-bottom: 70px;
  margin-top: 0;
}
.nbkiv4.notification_inform .notification__text {
  font-weight: 400;
font-size: 20px;
line-height: 24px;
}
.itemcardlist__items_nomb {
  margin-bottom: 0;
}
.itemcardlist_nomb {
  margin-bottom: 0;
}
.itemcardlist__item .itemcard_icon_small .itemcard__image {
  margin-bottom: 0;
}
.itemcardlist__item .itemcard_icon_small .itemcard__img {
  width: 74px;
}
.itemcard__wrapper + .itemcard__wrapper {
  margin-top: 40px;
}

.itemcard__listcol_custom {
  width: initial;
}

.itemcard__listcol_custom .listblock__green li {
  font-size: 18px;
line-height: 22px;
margin-bottom: 22px;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.p-32 {
  padding: 32px;
}
.li_mb24 {
  margin-bottom: 24px;
}
.fw-400 {
  font-weight: 400;
}
.itemcardlist__item_col3:nth-last-child(1),
.itemcardlist__item_col3:nth-last-child(2),
.itemcardlist__item_col3:nth-last-child(3) {
  margin-bottom: 0;
}

.fs-20 .listblock__green li  {
  font-size: 20px 
}

.nbkiv4.notification_white {
  background: #fff;
  border-color: #fff;
}

.tablecolor table {
  width: 100%;
  border: 1px solid #AEB5D1;
}
.tablecolor thead {}
.tablecolor thead tr {}

.tablecolor tbody td,
.tablecolor thead th {
  border-left: 2px solid #AEB5D1;
  border-right: 2px solid #AEB5D1;
  border-bottom: 2px solid #AEB5D1;
  border-top: 2px solid #AEB5D1;
}
.tablecolor tbody td span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 146.5%;
  text-align: center;
}
.tablecolor tbody td:first-child span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
}
.tablecolor thead th span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;

}

.tablecolor tbody td:last-child {
  border-right: none;
}
.tablecolor tbody td:first-child {
  border-left: none;
}
.tablecolor tbody td:first-child span {
  border-left: none;
}
.tablecolor tbody tr:first-child td {
  border-top: none;
}
.tablecolor tbody tr:last-child td {
  border-bottom: none;
}
.tablecolor thead th:last-child {
  border-right: none;
}
.tablecolor thead th:first-child {
  border-left: none;
}
.tablecolor thead tr:first-child th {
  border-top: none;
}
.tablecolor thead tr:last-child th {
  border-bottom: none;
}
.tablecolor thead th span,

.tablecolor tbody tr {}
.tablecolor tbody td {}

.notification__img {
  width: max-content;
}
@media (min-width: 1000px) {
  .onlyMobile {
    display: none !important
  }
}

@media (max-width: 1280px) {
  .mainfooter__col {
    padding: 0 30px;
  }
  .mainfooter__cols {
    margin: 0 -30px;
  }
  
}
@media (max-width: 999px) {

  .mainfooter__col {
    margin: 0;
    
  }
  .itemcardlist__item  {
    width: 100%;
    margin-bottom: 20px;
  }
  .contactsrow {
    flex-wrap: wrap;
  }
  .contactsrow__main {
    padding-right: 0;
    width: 100%;
  }
  .contactsrow__aside {
    max-width: 100%;
  }
  .mainfooter__col {
    width: 100%;
    padding: 0;
  }
  .mainfooter__cols {
    margin: 0;
  }
  .navpages_v4 ul.navpages__list li {
    margin-right: 40px;
  }
  .navpages_v4 ul.navpages__list li a {
    font-size: 15px;
line-height: 18px;
  }
  .itemcard_wide .itemcard__image {
    display: none;
  }
  .itemcard__maintitle {
    display: block;
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
margin-bottom: 10px;

color: #4563FF;
  }
  .itemcard_wide {
    padding: 30px;
  }
  .navpages.navpages_v4 {
    margin-bottom: 30px;
  }

  .itemcardlist__item_col3 .itemcard__image {
    display: none;
  }
  .itemcard {
    height: initial;
    margin-bottom: 20px;
  }
  .itemcard_wide {
    margin-bottom: 60px;
  }
  .onlyDesktop {
    display: none !important;
  }
  .itemcardlist__header {

margin-bottom: 30px;

color: #000000;
background: #FFFFFF;
/* Синий */
position: relative;
border-bottom: 2px solid transparent;
border-radius: 5px;
padding: 12px 15px;
  }

  .itemcardlist__header:after {
    content: url(../images/itemcardlist.svg);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s ease;
    
  }
  .itemcardlist__header.active:after {
   
    transform: translateY(-50%) rotate(0);
    
  }

  .itemcardlist--acc {
    display: none;
  }

  .itemcardlist__header.active {
    border-bottom: 2px solid #4563FF;
  }
  .titlelink h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-right: 9px;
  }
  .itemcard__name {
    margin-bottom: 30px;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;


  }
  .itemcardlist__item_col2 .itemcard__textб.corppage_v4 .listblock__green li {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;

  }
  .itemcardlist__item_col2 .itemcard__text br {
    display: none;

  }
  .itemcardlist__item_col2 .itemcard__image {
    margin-bottom: 20px;
  }
  .itemcardlist__items {
    margin: 0;
  }
  .itemcardlist__item  {
    padding: 0;
  }
  .itemcardlist__button a {
    width: 100%;
  }
  .itemcardlist__button {
    width: 100%;
}
  .itemcardlist__item {
    margin-bottom: 10px;
  }
  .itemcardlist__button .btn_main {
    display: block;
    width: 100%;
    font-size: 16px;
line-height: 20px;
  }
  .contactsrow .oneblock {
    padding: 30px 20px;
  }
  .contactsrow .contactsform__title {
    text-align: center;
  }
  .contactsrow .buttoncaption {
    margin-top: 30px;
  }
  .contactsrow__main {
    margin-bottom: 35px;
  }
  .contactblock {
    padding: 30px;
  }
  .contactrow__item {
    height: initial;
  }
  .contactsrow__aside {
    margin: auto;
  }
  .changelang.onlyMobile {
    text-align: center;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .mainfooter__cols .phones {
    display: block;
  }
  .mainfooter__cols .phone {
    margin-right: 0;
    width: 100%;
  }
  .footer_corpv4 .footer__main {
    padding: 55px 0 26px 0;
  }
  .footer_corpv4 .footerbottom__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
  }
  .footer_corpv4 .footerbottom__socials {
    display: none;
  }
  .itemcard__title {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 134.3%;
margin-bottom: 20px;
  }
  .itemcard_icon .itemcard__image {
    display: block;
    margin-bottom: 10px;
  }
  .itemcard_icon .itemcard__img {
    min-width: initial;
    max-width: 60px;
  }
  .itemcard_icon {
    padding: 20px 15px;
  }

  .itemcard_wide .itemcard__wrapper {
    flex-wrap: wrap;
  }
  .itemcardlist__button .btn_main {
    font-size: 16px !important;
height: 45px !important;
line-height: 45px !important;
padding: 0 20px !important;
  }
  .contactrow {
    margin: 0 0 40px 0;
  }
  .itemcard__name {
    display: block;
  }
  .pagetextblock p {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
  }
  .itemcardlist--slider .itemcardlist__item {
    height: inherit !important;
  }
  .itemcardlist--slider .itemcard {
    height: 100%;
  }
  .itemcardlist--slider .slick-track
  {
      display: flex !important;
  }
  .itemcardlist--slider .slick-dots li {
    width: 10px;
    height: 10px;
   
  }
  .itemcardlist--slider .slick-dots {
    bottom: -15px;
  }
  .itemcardlist--slider .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background: #AEB5D1;
    opacity: 0.6;
  }
  .itemcardlist--slider .slick-dots li.slick-active button {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background: #7B7794;
  }
  .itemcardlist--slider .slick-dots li button:before {
    display: none;
  }
  .itemcardlist--slider.slick-dotted.slick-slider  {
    margin-bottom: 45px;
  }
  .imgtab__img {
    max-width: 100%;
    height: initial;
  }
  .imgtab__wrapper {
    flex-wrap: wrap;
  }
  .imgtab__content {
    width: 100%;
    padding: 0;
  }
  .imgtab__image {
    margin-bottom: 30px;
  }
  .itemcardlist--acc .navpages_full {
    display: block;
  }
  .itemcard_large {
    padding: 30px;
  }
  .imgtab__image {
    width: 100%;
  }
  .imgtab__title {
    font-weight: 500;
font-size: 20px;
line-height: 24px;
  }
  .corppage_v4  .col-md-6 .listblock__green li:last-child {
    margin-bottom: 32px;
  }
  .pagetextblock p {
    margin-top: 0;
  }
  .titlelink {
    margin-bottom: 0;
  }
  .tabstoggler .navpages__list {
    display: flex;
  }
  .tabstoggler {
    background: #FFFFFF;
    border-radius: 16px;
    position: relative;
    padding: 12px 20px;
  }
  .tabstoggler__btn {
    position: absolute;
    right: 25px;
    top: 20px;
  }
  .tabstoggler ul.navpages__list li {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-top: 12px;
    max-width: 224px;
    white-space: initial;
    display: none;
    padding-bottom: 0;
  }
  .imgtab {
    margin-top: 30px;
  }
  .tabstoggler  {
    margin: 30px 0;
  }
  .tabstoggler .navpages__list li.active {
    order: -1;
    color: #4563FF;
    margin-top: 0;
    display: block;
  }
  .tabstoggler.active .tabstoggler__items li {
    display: block;
  }
  .tabstoggler.active .tabsburger {
    display: none;
  }
  .tabstoggler .tabscloser {
    display: none;
  }
  .tabstoggler.active .tabscloser {
    display: block;
  }
  .tabstoggler .navpages__list {
    white-space: initial;
    flex-wrap: wrap;
  }
  .tabstoggler ul.navpages__list li.active:after{
   display: none;
  }
  .itemcard__image.itemcard__image_flex {
    display: flex;
  }
  .titlelink.itemcardlist__header {
    margin-bottom: 30px;
  }
 
  .titlelink.itemcardlist__header {
    min-height: 110px;
  }
  .pagetextblock {
    margin: 30px 0;
  }
  .pagetextblock .col-md-6:last-child p {
    margin-bottom: 0;
  }
  .nbkiv4.notification_inform {
    margin: 30px 0;
  }
  .nbkiv4.notification_inform {
    display: block;
  }
  .nbkiv4.notification_inform .notification__text{
    font-size: 16px;
line-height: 20px;
  }
  .nbkiv4.notification_inform .notification__icon{
    margin-bottom: 12px;
  }
  .itemcard_type2 {
    padding: 32px;
  }
  .tabstoggler .navpages__list li {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .prevblock__tabs, .tabs__caption_js, .navpages__list {
    overflow-y: hidden;
  }
  .tabstoggler .navpages__list li.active {
    min-height: 36px;
    display: flex;
    align-items: center;
  }
  .xs-p-30 {
    padding: 30px !important
  }

  .itemcard__listrow{
   flex-wrap: wrap;
  }
  .itemcard__listrow li {
    width: 100%;
  }
  .itemcard__listcol  {
    margin-bottom: 20px;
  }
  .itemcard__listcol:last-child  {
    margin-bottom: 0;
  }
  .xs-mb-0  {
    margin-bottom: 0 !important;
  }
  .xs-mb-40  {
    margin-bottom: 40px !important;
  }
  .xs-mb-60  {
    margin-bottom: 60px !important;
  }
  .xs-mb-30  {
    margin-bottom: 30px !important;
  }
  .xs-mb-20 {
    margin-bottom: 20px !important;
  }
  .xs-fs-20  {
    font-size: 20px;
    line-height: 24px;
  }
  .xs-fs-20 h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .xs-m-20-0 {
    margin: 20px 0 !important;
  }
  .xs-p-30-20 {
    padding: 30px 20px;
  }
  .xs-lh-22 {
    line-height: 22px !important;
  }

  .tablecolor {
    width: 100%;
    overflow-x: auto;
  }
.tablecolor table {
  width: 100%;
  border: 1px solid #AEB5D1;
}
.tablecolor thead {}
.tablecolor thead tr {}

.tablecolor tbody td,
.tablecolor thead th {
  border-left: 2px solid #AEB5D1;
  border-right: 2px solid #AEB5D1;
  border-bottom: 2px solid #AEB5D1;
  border-top: 2px solid #AEB5D1;
}
.tablecolor tbody td span {
width: 178px;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
font-weight: 500;
font-size: 15px;
line-height: 140%;
padding: 20px;
}
.tablecolor tbody td span  br {
  display: none;
}
.tablecolor tbody td:first-child span {
  width: 160px;
  font-size: 14px;
line-height: 134%;
}
.tablecolor thead th span {
  font-size: 14px;
line-height: 134%;
padding: 20px;

}

.tablecolor tbody td:last-child {
  border-right: none;
}
.tablecolor tbody td:first-child {
  border-left: none;
}
.tablecolor tbody td:first-child span {
  border-left: none;
}
.tablecolor tbody tr:first-child td {
  border-top: none;
}
.tablecolor tbody tr:last-child td {
  border-bottom: none;
}
.tablecolor thead th:last-child {
  border-right: none;
}
.tablecolor thead th:first-child {
  border-left: none;
}
.tablecolor thead tr:first-child th {
  border-top: none;
}
.tablecolor thead tr:last-child th {
  border-bottom: none;
}
.tablecolor thead th span,

.tablecolor tbody tr {}
.tablecolor tbody td {}
#tablecolor_title span {

}
}